doctype
html
  head
    title Sloganator Example
  
  body
    script(src='/sloganator.js', id='sloganator')
    p
      span.welcome
        strong Welcome back, 
          a(href='#') exampleusername
          
    input.username(placeholder='change username')
    script(src='/example.js')
